/* Reset */
html, body {
  height: 100%;
  margin: 0;
}

/* Make the wrapper fill the screen */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Push footer to the bottom */
main {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Fonts */
body {
  font-family: Arial, sans-serif;
  color: #000000;
  background-color: #f5f5f5;
  min-height: 100vh;
}

/* Header */
header {
  height: 200px;
  background-color: #17072b;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-family: Tahoma, sans-serif;
}

header h1 {
  font-size: 80px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 10px;
}

nav ul {
  font-size: 60px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:hover {
  text-decoration: underline;
}

/* Layout container */
main {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

/* Welcome Section */
.welcome {
  font-size: 20px;
  flex: 2;
  min-width: 300px;
}

.welcome h2 {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.welcome p {
  font-size: 150%;
  margin-bottom: 20px;
  line-height: 1.6;
}

.welcome img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

/* Lineup Section */
.lineup {
  margin-top: 0%;
  height: 80%;
  flex: 1;
  min-width: 250px;
  background-color: #172d67;
  color: white;
  padding: 20px;
  border-radius: 0px;
}

.main-image {
  margin-top: 0%;
  margin-bottom: 0%;
}
.lineup h2 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 15px;
}

.lineup ul {
  font-size: 200%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.lineup li {
  margin-bottom: 10px;
}

/* Lineup Images */
.lineup-images {
  display: flex;
  gap: 10px;
  flex-wrap: wra180
}

.lineup-images img {
  width: 48%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 186px;
}

/* Footer */
footer {
  background-color: #8c15e9;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 0.95rem;
  margin-top: 0%;
}


