body {
  background-image: url('karhai2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
    max-width: 1500px;
    margin: auto;
  }
  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 450px;
    border-radius: 8px;
}


  h1 {
    color: #ffffff;
    text-align: center;
    font-size: 5.5em;
    margin-bottom: 0.2em;
  }

  h2 {
    font-family: cursive;
    font-size: 2.5em;
    color: #fdf7f3;
    border-bottom: 2px solid #e0c4a8;
    padding-bottom: 5px;
    margin-top: 2em;
    text-align: center;
  }

  p {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1.5em;
    background-color: #305c55;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
  }

  ul, ol {
    font-size: 1.2em;
    color: rgb(255, 211, 211);
    background-color: #305c55;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
  }

  li {
    margin-bottom: 10px;
  }

  .second-img {
    width: 600px;
    height: 350px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }